.btn {
    margin-right: 5px;
}

.markedAsDone {
    text-decoration: line-through;
    color: gray
}

.ResetMarginsAndBorders {
    margin: 0%;
    border-radius:0%
}

.tableActions{
    width: 105px;
}